body {
  margin: 0;
}

div.nav {
  border-bottom: 1px solid black;
}

.nav ul {
  margin: 0;
  padding: 0.3em;
  padding-left: 3em;
}

.nav li {
  list-style: none;
  display: inline;
}

div.body {
  margin: 3em;
}
