html {
	overflow-y: scroll;
}

hr {
	height: 1px;
	background: black;
	border: none;
}

.bookend {
  font-size: smaller;
}

.bookend ul {
  padding-left: 0;
}

.bookend li {
  display: inline;
  list-style-type: none;
  margin-right: 0.5em;
}
