html {
	overflow-y: scroll;
}

hr {
	height: 1px;
	background: black;
	border: none;
}

#title_link {
	color: black;
	text-decoration: none;
}

#title_link:hover {
	color: blue;
	text-decoration: underline;
}
