html {
	overflow-y: scroll;
}

body {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

hr {
	height: 1px;
	background: black;
	border: none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

pre {
  background: whitesmoke;
  margin: 0;
  padding: 0.5em;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

th, td {
  padding: 0.3em;
}

.bookend {
  font-size: smaller;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.bookend ul {
  padding-left: 0;
  margin: 0;
}

.bookend li {
  display: inline;
  list-style-type: none;
  margin-right: 0.5em;
}
